In [1]:
#Load Libraries
import pandas as pd
import fnmatch
import glob
import os

In [2]:
#find and load all of the depth.txt files


AllDepth=pd.DataFrame()
list_=[]

for filename in glob.iglob('DataSample/**/*depth.txt', recursive=True):
    #print(filename)
    temp=pd.read_table(filename, header=None)
    temp['filename']=filename
    list_.append(temp)
AllDepth=pd.concat(list_)

In [14]:
AllDepth.dtypes

0            float64
1            float64
2            float64
3            float64
4            float64
5            float64
6            float64
7            float64
8            float64
9            float64
10           float64
11           float64
12           float64
13           float64
14           float64
15           float64
16           float64
17           float64
18           float64
19           float64
20           float64
21           float64
22           float64
23           float64
24           float64
25           float64
26           float64
27           float64
28           float64
29           float64
              ...
1509         float64
1510         float64
1511         float64
1512         float64
1513         float64
1514         float64
1515         float64
1516         float64
1517         float64
1518         float64
1519         float64
1520         float64
1521         float64
1522         float64
1523         float64
1524         float64
1525         float64
1526         float64
1527         float64
1528         float64
1529         float64
1530         float64
1531         float64
1532         float64
1533         float64
1534         float64
1535         float64
1536         float64
filename      object
imagename     object
Length: 1539, dtype: object

In [4]:
#extract imagename
AllDepth['imagename']=AllDepth['filename'].map(lambda x: str(x)[:-10])
AllDepth['imagename']=AllDepth['imagename'].map(lambda x: str(x)[14:])


AllDepth.head()

,0,1,2,3,4,5,6,7,8,9,...,1529,1530,1531,1532,1533,1534,1535,1536,filename,imagename
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DataSample/-1/-18zQvsnzHenztGCEjW_Sw.depth.txt,-18zQvsnzHenztGCEjW_Sw
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DataSample/-1/-18zQvsnzHenztGCEjW_Sw.depth.txt,-18zQvsnzHenztGCEjW_Sw
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DataSample/-1/-18zQvsnzHenztGCEjW_Sw.depth.txt,-18zQvsnzHenztGCEjW_Sw
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DataSample/-1/-18zQvsnzHenztGCEjW_Sw.depth.txt,-18zQvsnzHenztGCEjW_Sw
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DataSample/-1/-18zQvsnzHenztGCEjW_Sw.depth.txt,-18zQvsnzHenztGCEjW_Sw

In [15]:
#find and load all of the curbramp.txt files
import glob

AllCurbRamp=pd.DataFrame()
list_=[]

for filename in glob.iglob('DataSample/**/*_curbramp.txt', recursive=True):
    #print(filename)
    temp=pd.read_table(filename, header=None, sep=" ")
    temp['filename']=filename
    list_.append(temp)
AllCurbRamp=pd.concat(list_)
AllCurbRamp.columns=[['x1', 'x2', 'y1', 'y2', 'filename']]

In [18]:
AllCurbRamp.head()

,x1,x2,y1,y2,filename
0,8577.668768,8990.386962,3592.640903,4005.359097,DataSample/-1/-18zQvsnzHenztGCEjW_Sw_curbramp.txt
1,6328.837300,6787.218429,3620.809436,4079.190564,DataSample/-1/-18zQvsnzHenztGCEjW_Sw_curbramp.txt
2,6910.883652,7309.172077,3598.855788,3997.144212,DataSample/-1/-18zQvsnzHenztGCEjW_Sw_curbramp.txt
0,12291.859798,12539.725792,3466.067003,3713.932997,DataSample/-2/-25pKbs9dGFH7H5IRw4lWA_curbramp.txt
1,1488.294232,2253.291358,3705.501437,4470.498563,DataSample/-2/-25pKbs9dGFH7H5IRw4lWA_curbramp.txt

In [6]:

#extract the image name
AllCurbRamp['imagename']=AllCurbRamp['filename'].map(lambda x: str(x)[:-13])
AllCurbRamp['imagename']=AllCurbRamp['imagename'].map(lambda x: str(x)[14:])



AllCurbRamp.head()

,x1,x2,y1,y2,filename,imagename
0,8577.668768,8990.386962,3592.640903,4005.359097,DataSample/-1/-18zQvsnzHenztGCEjW_Sw_curbramp.txt,-18zQvsnzHenztGCEjW_Sw
1,6328.837300,6787.218429,3620.809436,4079.190564,DataSample/-1/-18zQvsnzHenztGCEjW_Sw_curbramp.txt,-18zQvsnzHenztGCEjW_Sw
2,6910.883652,7309.172077,3598.855788,3997.144212,DataSample/-1/-18zQvsnzHenztGCEjW_Sw_curbramp.txt,-18zQvsnzHenztGCEjW_Sw
0,12291.859798,12539.725792,3466.067003,3713.932997,DataSample/-2/-25pKbs9dGFH7H5IRw4lWA_curbramp.txt,-25pKbs9dGFH7H5IRw4lWA
1,1488.294232,2253.291358,3705.501437,4470.498563,DataSample/-2/-25pKbs9dGFH7H5IRw4lWA_curbramp.txt,-25pKbs9dGFH7H5IRw4lWA

In [7]:
#find and load all of the curbramp.txt files
import glob

AllCurbRamp=pd.DataFrame()
list_=[]

for filename in glob.iglob('DataSample/**/*_nocurbramp.txt', recursive=True):
    #print(filename)
    temp=pd.read_table(filename, header=None, sep=" ")
    temp['filename']=filename
    list_.append(temp)
NoCurbRamp=pd.concat(list_)
NoCurbRamp.columns=[['x1', 'x2', 'y1', 'y2', 'filename']]

In [8]:
#extract imagename
NoCurbRamp['imagename']=NoCurbRamp['filename'].map(lambda x: str(x)[:-15])
NoCurbRamp['imagename']=NoCurbRamp['imagename'].map(lambda x: str(x)[14:])



NoCurbRamp.head()

,x1,x2,y1,y2,filename,imagename
0,12230.856636,12820.156016,3666.350310,4255.649690,DataSample/-2/-2q0r9oa712WtzJ4J9WjBw_nocurbram...,-2q0r9oa712WtzJ4J9WjBw
1,7661.486726,8741.525926,3913.980400,4994.019600,DataSample/-2/-2q0r9oa712WtzJ4J9WjBw_nocurbram...,-2q0r9oa712WtzJ4J9WjBw
2,3519.371510,4561.641142,3872.865184,4915.134816,DataSample/-2/-2q0r9oa712WtzJ4J9WjBw_nocurbram...,-2q0r9oa712WtzJ4J9WjBw
3,1231.731184,2173.281468,3830.224858,4771.775142,DataSample/-2/-2q0r9oa712WtzJ4J9WjBw_nocurbram...,-2q0r9oa712WtzJ4J9WjBw
0,8003.416046,8866.287253,3790.564396,4653.435604,DataSample/-6/-67wa1R6dwqK_vPC6RgKqA_nocurbram...,-67wa1R6dwqK_vPC6RgKqA

In [9]:
#XML to Pandas
#http://www.austintaylor.io/lxml/python/pandas/xml/dataframe/2016/07/08/convert-xml-to-pandas-dataframe/

import xml.etree.ElementTree as ET
import pandas as pd

#xml_data = open('DataSample/1a/1A00FcZyk-UiLb7KtLBubQ.xml').read()

def xml2df(xml_data):
    root = ET.XML(xml_data) # element tree
    all_records = []
    for i, child in enumerate(root):
        record = {}
        for subchild in child:
            record[subchild.tag] = subchild.text
            all_records.append(record)
    return pd.DataFrame(all_records)

In [ ]:
xml2df(xml_data)

In [ ]:
AllXML=pd.DataFrame()
list_=[]

for filename in glob.iglob('DataSample/**/*.xml', recursive=True):
    #print(filename)
    xml_data = open(filename).read()
    temp=xml2df(xml_data)
    temp['filename']=filename
    list_.append(temp)
AllXML=pd.concat(list_)

In [ ]:
#extract the image name
AllXML['imagename']=AllXML['filename'].map(lambda x: str(x)[:-4])
AllXML['imagename']=AllXML['imagename'].map(lambda x: str(x)[14:])



AllXML.head()

In [ ]:
import image_slicer
for filename in glob.iglob('DataSample/**/*.jpg', recursive=True):
    #filename='0AqAZh_XjSaShq0bIt_TLw.jpg'
    tiles=image_slicer.slice(filename, 100, save=False)
    newfilename=str(filename)[:-4]
    newfilename=str(newfilename)[14:]
    image_slicer.save_tiles(tiles, prefix=newfilename, directory='slices')

In [ ]:
listofnewfiles=pd.DataFrame(os.listdir('slices'))

In [ ]:
listofnewfiles.to_csv('FileNames.csv')